<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>VR Development</title>
  <meta name="description" content="ISS Locator">
  <meta name="author" content="Bryan Jones">

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div id="container"></div>
  <!-- Third party code -->
  <script src="/js/thirdParty/three.min.js"></script>
  <script src="/js/thirdParty/StereoEffect.js"></script>
  <script src="/js/thirdParty/DeviceOrientationControls.js"></script>
  <script src="/js/thirdParty/OrbitControls.js"></script>
  <script src="/js/thirdParty/stats.js"></script>

  <!-- The main scene -->
  <script src="./js/scene.js"></script>
</body>
</html>
