<!doctype html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/static/table.css">

    <title>Table #8</title>
  </head>
  <body>
    <table class="container">
        <thead>
            <tr>
                <th><h1>Lat</h1></th>
                <th><h1>Lon</h1></th>
                <th><h1>Alt</h1></th>
                <th><h1>Vel</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Google</td>
                <td>9518</td>
                <td>6369</td>
                <td>01:32:50</td>
            </tr>
        </tbody>
    </table>
  </body>
</html>