<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='/static/main.css'/>
    <title>Map</title>
  </head>
  <body>
    <div id='gray_overlay'>
<!--   <img class='logo' src='https://contentservice.mc.reyrey.net/image_v1.0.0/?id=c9ceb603-bb5d-53fc-b9a9-c0115952cc4c&637601349133269119'> -->
      <img class='img2' src='https://contentservice.mc.reyrey.net/image_v1.0.0/?id=8e75863f-dca7-5063-a399-1825b1e953e4&637599760715686463'>
    </div>

    <div id='gray_overlayy'>
      <img class='img2' src='https://contentservice.mc.reyrey.net/image_v1.0.0/?id=8e75863f-dca7-5063-a399-1825b1e953e4&637599760715686463'>
    </div>

  </body>
</html>
