<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>VR Development</title>
  <meta name="description" content="ISS Position">
  <meta name="author" content="Bryan Jones">

  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <div id="container"></div>
  <!-- Third party code -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="js/thirdParty/three.min.js"></script>
  <script src="js/thirdParty/DeviceOrientationControls.js"></script>
  <script src="js/thirdParty/OrbitControls.js"></script>
  <script src="js/thirdParty/stats.js"></script>

  <!-- The main scene -->
  <script src="js/scene.js"></script>
</body>
</html>
